// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
// @font-face {
//   font-family: "display";
//   src: url("../assets/Eckmannpsych-Variable.ttf") format("truetype");
// }
// //VARIABLES
// $display-font: "display", sans-serif;
// $body-font: "Montserrat",
// sans-serif;
// $sec-font: system-ui;
// $card-border: 10px;
// $card-shadow: 1px 1px 8px rgba(0, 0, 0, 0.548);
// $hov-card-sh: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
// $dark-bg: #141313;
// $dark-poster: #312f2f;
// $grey200: rgb(146, 143, 143);
// $shadow: 1px 1px 6px 1px #504c4c;
// $grainy: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
// $orange-gradient: linear-gradient(
//   93deg,
//   rgba(232, 152, 50, 1) 0%,
//   rgba(220, 105, 64, 1) 100%
// );
// $hover-gradient: linear-gradient(
//   93deg,
//   rgba(232, 152, 50, 1) 81%,
//   rgba(220, 105, 64, 1) 100%
// );
// $yellow: #e89832;
// $orange: #dc6940;
@import "config";
@import "./UI/buttons";
@import "./ticketPage/tickets";
@import "./artist/artistcard";
@import "./artist/artistpage";
@import "./header/header";
@import "./festApp/cards";
@import "./festApp/program";
@import "./landingPage/faq-page";
@import "./sections/ticketForm";
@import "./sections/drawborder";
@import "./landingPage/HeroSection";
@import "./landingPage/lineupSection";
@import "./landingPage/faqSection";
@import "./landingPage/faq-page";
@import "./form";
@import "./lineupPage/lineupCard";
@import "./landingPage/bannerSection";
@import "./UI/countdownReservation";
@import "./footer";
// @import "./artist/artistpage";
//GLOBAL STYLING
:root {
    --img: url("https://faellestival.dk/wp/wp-content/uploads/2018/09/cropped-MG_8034-1.jpg");
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $dark-bg;
    background-image: $grainy;
    color: white;
    font-family: $body-font;
}

button {
    cursor: pointer;
}

// .primBtn {
//   border-radius: 50px;
//   padding: 1rem;
//   font-size: 1rem;
//   padding: 1rem 3rem;
//   color: white;
//   border: solid 3px transparent;
//   background-image: linear-gradient($dark-bg, $dark-bg), $orange-gradient;
//   background-origin: border-box;
//   background-clip: content-box, border-box;
//   box-shadow: 2px 1000px 1px $dark-poster inset;
//   transition: all 0.5s;
//   &:hover {
//     background-image: linear-gradient($dark-bg, $dark-bg), $hover-gradient;
//     color: $yellow;
//   }
// }
// .secBtn {
//   text-transform: uppercase;
//   font-size: 1.3rem;
//   background: none;
//   border: none;
//   color: white;
//   &::after {
//     max-width: 100%;
//     height: 0.5rem;
//     display: block;
//     content: "";
//     background: $orange-gradient;
//     opacity: 1;
//     margin-bottom: -6px;
//     margin-top: 1px;
//   }
//   &:hover::after {
//     background: $hover-gradient;
//   }
// }
//REGULAR APP LAND PAGE
// .header {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
// .heroTitle {
//     font-family: $display-font;
//     font-size: 6rem;
//     text-align: center;
//     margin-top: 0;
// }
// .heroBg {
//     background-image: url("/wavy-banner2.png");
//     clip-path: polygon( 100% 0%, 0% 0%, 0% 91.72%, 1% 91.69%, 2% 91.63%, 3% 91.51%, 4% 91.36%, 5% 91.16%, 6% 90.92%, 7% 90.64%, 8% 90.31%, 9% 89.95%, 10% 89.55%, 11% 89.12%, 12% 88.66%, 13% 88.16%, 14% 87.63%, 15% 87.08%, 16% 86.51%, 17% 85.91%, 18% 85.3%, 19% 84.67%, 20% 84.03%, 21% 83.37%, 22% 82.72%, 23% 82.05%, 24% 81.39%, 25% 80.73%, 26% 80.08%, 27% 79.43%, 28% 78.8%, 29% 78.18%, 30% 77.58%, 31% 77%, 32% 76.44%, 33% 75.91%, 34% 75.4%, 35% 74.92%, 36% 74.48%, 37% 74.07%, 38% 73.7%, 39% 73.36%, 40% 73.07%, 41% 72.82%, 42% 72.6%, 43% 72.43%, 44% 72.31%, 45% 72.23%, 46% 72.19%, 47% 72.2%, 48% 72.25%, 49% 72.35%, 50% 72.49%, 51% 72.68%, 52% 72.91%, 53% 73.18%, 54% 73.49%, 55% 73.84%, 56% 74.23%, 57% 74.65%, 58% 75.1%, 59% 75.59%, 60% 76.11%, 61% 76.65%, 62% 77.22%, 63% 77.81%, 64% 78.42%, 65% 79.04%, 66% 79.68%, 67% 80.33%, 68% 80.99%, 69% 81.65%, 70% 82.31%, 71% 82.97%, 72% 83.63%, 73% 84.27%, 74% 84.91%, 75% 85.54%, 76% 86.14%, 77% 86.73%, 78% 87.3%, 79% 87.84%, 80% 88.35%, 81% 88.84%, 82% 89.29%, 83% 89.71%, 84% 90.1%, 85% 90.44%, 86% 90.75%, 87% 91.02%, 88% 91.24%, 89% 91.42%, 90% 91.56%, 91% 91.66%, 92% 91.71%, 93% 91.71%, 94% 91.67%, 95% 91.59%, 96% 91.46%, 97% 91.29%, 98% 91.07%, 99% 90.81%, 100% 90.52%);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 22vw;
// }
.gradientTxt {
    color: white;
    background: $orange-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// .artistGrid {
//   display: flex;
//   margin-inline: 2rem;
//   gap: 2rem;
//   flex-wrap: wrap;
//   justify-content: center;
//   background-color: $dark-poster;
//   padding-top: 5rem;
//   padding-bottom: 5rem;
// }
// .artistCard {
//   background-image: var(--img);
//   background-color: none;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   border: none;
//   border-radius: $card-border;
//   height: 40vh;
//   min-width: 20vw;
//   max-width: 20vw;
//   // text-overflow: ellipsis;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   box-shadow: $card-shadow;
//   h3 {
//     color: white;
//     text-transform: uppercase;
//     text-align: center;
//     opacity: 0;
//     transition: opacity 0.7s;
//   }
//   &:hover {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgb(0, 0, 0)),
//       var(--img);
//     box-shadow: $hov-card-sh;
//   }
//   &:hover h3 {
//     opacity: 1;
//   }
// }
//TICKETS PAGE
// .ticketCard {
//   text-align: center;
//   color: white;
//   border-radius: $card-border;
//   box-shadow: $card-shadow;
//   position: relative;
//   background: $dark-poster;
//   margin-top: 1rem;
//   // padding-bottom: 1rem;
//   &:hover {
//     box-shadow: $hov-card-sh;
//   }
//   .ticketTitle {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgb(0, 0, 0)),
//       url("https://faellestival.dk/wp/wp-content/uploads/2018/09/cropped-MG_8034-1.jpg");
//     clip-path: polygon(
//       100% 0%,
//       0% 0%,
//       0% 99.2%,
//       1% 99.18%,
//       2% 99.13%,
//       3% 99.04%,
//       4% 98.92%,
//       5% 98.76%,
//       6% 98.57%,
//       7% 98.35%,
//       8% 98.1%,
//       9% 97.82%,
//       10% 97.51%,
//       11% 97.17%,
//       12% 96.8%,
//       13% 96.42%,
//       14% 96.01%,
//       15% 95.58%,
//       16% 95.13%,
//       17% 94.66%,
//       18% 94.18%,
//       19% 93.69%,
//       20% 93.19%,
//       21% 92.68%,
//       22% 92.16%,
//       23% 91.65%,
//       24% 91.13%,
//       25% 90.61%,
//       26% 90.1%,
//       27% 89.6%,
//       28% 89.1%,
//       29% 88.62%,
//       30% 88.15%,
//       31% 87.69%,
//       32% 87.26%,
//       33% 86.84%,
//       34% 86.44%,
//       35% 86.07%,
//       36% 85.73%,
//       37% 85.41%,
//       38% 85.12%,
//       39% 84.85%,
//       40% 84.62%,
//       41% 84.43%,
//       42% 84.26%,
//       43% 84.13%,
//       44% 84.03%,
//       45% 83.97%,
//       46% 83.94%,
//       47% 83.94%,
//       48% 83.99%,
//       49% 84.06%,
//       50% 84.17%,
//       51% 84.32%,
//       52% 84.5%,
//       53% 84.71%,
//       54% 84.95%,
//       55% 85.22%,
//       56% 85.53%,
//       57% 85.86%,
//       58% 86.21%,
//       59% 86.59%,
//       60% 87%,
//       61% 87.42%,
//       62% 87.87%,
//       63% 88.33%,
//       64% 88.8%,
//       65% 89.29%,
//       66% 89.79%,
//       67% 90.3%,
//       68% 90.81%,
//       69% 91.33%,
//       70% 91.85%,
//       71% 92.36%,
//       72% 92.87%,
//       73% 93.38%,
//       74% 93.88%,
//       75% 94.37%,
//       76% 94.84%,
//       77% 95.3%,
//       78% 95.74%,
//       79% 96.17%,
//       80% 96.57%,
//       81% 96.95%,
//       82% 97.3%,
//       83% 97.63%,
//       84% 97.93%,
//       85% 98.2%,
//       86% 98.44%,
//       87% 98.65%,
//       88% 98.83%,
//       89% 98.97%,
//       90% 99.08%,
//       91% 99.15%,
//       92% 99.19%,
//       93% 99.19%,
//       94% 99.16%,
//       95% 99.1%,
//       96% 99%,
//       97% 98.86%,
//       98% 98.69%,
//       99% 98.49%,
//       100% 98.26%
//     );
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     border-top-left-radius: $card-border;
//     border-top-right-radius: $card-border;
//     padding-block: 0.5rem;
//     font-size: 1.3rem;
//     font-weight: 800;
//     line-height: 1rem;
//     padding-bottom: 2rem;
//   }
//   .out {
//     position: relative;
//     top: 40px;
//   }
//   .card-content {
//     border-bottom-left-radius: $card-border;
//     border-bottom-right-radius: $card-border;
//     background: $dark-poster;
//     padding: 1rem;
//     max-width: 38ch;
//   }
// }