* {
  accent-color: $orange;
}

.header {
  h1 {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
}

.ticket-container {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  // position: absolute;

  .check-container,
  .duration-container,
  .incr-decr-header {
    padding: 1rem;
  }

  .check-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-items: center;
    font-family: system-ui;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.548);
    position: relative;
    margin-top: 1rem;
    // margin-left: 1rem;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .check-body {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 1vw;

      div:first-child {
        div {
          margin-left: 0.6vw;
        }
        display: flex;
        flex-direction: row;
        gap: 0.7vw;
        padding-left: 0.5vw;
        padding-bottom: 0.5vw;
        margin-left: 1vw;
      }
      div:nth-child(2) {
        div {
          margin-left: 1vw;
        }
        display: flex;
        flex-direction: row;
        margin-left: 2vw;
      }
    }
    p {
      font-style: italic;
      color: grey;
    }
    h3 {
      text-align: center;
    }
  }
  .duration-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-items: center;
    font-family: system-ui;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.548);
    position: relative;
    margin-top: 1rem;
    // margin-left: 1rem;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
  }
  p {
    font-style: italic;
    color: grey;
  }
  h3 {
    text-align: center;
  }
  .duration-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    div:first-child {
      div {
        margin-left: 0;
      }
      display: flex;
      flex-direction: row;
      gap: 0.7vw;
      padding-left: 0.5vw;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
    div:nth-child(2) {
      div {
        margin-left: 0;
      }
      display: flex;
      flex-direction: row;
      gap: 0.7vw;
      padding-left: 0.5vw;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
    div:nth-child(3) {
      div {
        margin-left: 0;
      }
      display: flex;
      flex-direction: row;
      gap: 0.7vw;
      padding-left: 0.5vw;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
  }
  .incr-decr-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-items: center;
    font-family: system-ui;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.548);
    position: relative;
    margin-top: 1rem;
    // margin-left: 1rem;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .incr-decr-body {
      display: flex;
      gap: 1rem;
      flex-shrink: 0;
      width: 5vw;
      margin-left: 1.5vw;
      margin-bottom: 1.5vw;
    }
  }
  .day-body {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin: 1vw;
    div:first-child {
      div {
        margin-left: 0.5vw;
      }
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5vw;
    }
    div:nth-child(2) {
      div {
        margin-left: 0.5vw;
      }
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
    div:nth-child(3) {
      div {
        margin-left: 0.5vw;
      }
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
    div:nth-child(4) {
      div {
        margin-left: 0.5vw;
      }
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
    div:nth-child(5) {
      div {
        margin-left: 0.5vw;
      }
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
    div:nth-child(6) {
      div {
        margin-left: 0.5vw;
      }
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5vw;
    }
    div:nth-child(7) {
      div {
        margin-left: 0.5vw;
      }
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
  }
}

.footer {
  button:first-child {
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    font-family: system-ui;
    border-radius: 50px;
    color: #fff;
    border: solid 3px transparent;
    background-image: linear-gradient(#141313, #141313),
      linear-gradient(93deg, rgb(232, 152, 50) 0%, rgb(220, 105, 64) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #312f2f inset;
    transition: all 0.5s;
  }
  button:nth-child(2) {
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    font-family: system-ui;
    border-radius: 50px;
    color: #fff;
    border: solid 3px transparent;
    background-image: linear-gradient(#141313, #141313),
      linear-gradient(93deg, rgb(232, 152, 50) 0%, rgb(220, 105, 64) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #312f2f inset;
    transition: all 0.5s;
  }
}

.form-container {
  width: 70%;
  height: 100%;
  min-height: 100vh;
  padding-inline: 2rem;
  margin: 0 auto;
  .check-header {
    p {
      font-style: italic;
      color: grey;
    }
    h3 {
      text-align: center;
    }
  }

  .check-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .camp-check {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;

    div:first-child {
      div {
        margin-left: 0.6vw;
      }
      display: flex;
      flex-direction: row;
      gap: 0.7vw;
      padding-left: 0.5vw;
      padding-bottom: 0.5vw;
      margin-left: 1vw;
    }
    div:nth-child(2) {
      div {
        margin-left: 1vw;
      }
      display: flex;
      flex-direction: row;
      margin-left: 2vw;
    }
    div:nth-child(3) {
      div {
        margin-left: 1vw;
      }
      display: flex;
      flex-direction: row;
      margin-left: 2vw;
    }
    div:nth-child(4) {
      div {
        margin-left: 1vw;
      }
      display: flex;
      flex-direction: row;
      margin-left: 2vw;
    }
    div:nth-child(5) {
      div {
        margin-left: 1vw;
      }
      display: flex;
      flex-direction: row;
      margin-left: 2vw;
    }
  }
}

.incr-decr-body {
  .numberInput {
    border: 3px solid $orange;
    border-radius: $card-border;
    width: 3rem;
    text-align: center;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
    box-shadow: 2px 1000px 1px #312f2f inset;
    color: white;
    // width: min-content;
  }

  input[type="number"]::-webkit-inner-spin-button {
    opacity: 0;
  }
  .decrementBtn {
    width: 1.3vw;
    box-shadow: 2px 1000px 1px #312f2f inset;
    color: $orange;
    font-weight: 600;
    border: none;
    font-size: 1.7vw;
  }
  .incrementBtn {
    width: 4rem;
    box-shadow: 2px 1000px 1px #312f2f inset;
    color: $orange;
    font-weight: 600;
    border: none;
    font-size: 2vw;
  }

  .incrementBtn span,
  .decrementBtn span {
    font-size: 1.5rem;

    &:hover {
      color: $yellow;
    }
  }
}

.incr-decr-header {
  .flex-input {
    span {
      font-style: italic;
      color: grey;
    }
  }
}

.flex-input {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 40vw;
  flex-direction: row;
  margin-top: 2vw;
}

.extrasCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  background-color: #14131300;

  .addOnCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #00000000;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    max-width: 20rem;
    min-height: 16rem;
    padding: 1rem;
    text-align: center;
    color: white;
    font-family: system-ui;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.548);
    position: relative;
    border-radius: 10px;

    .addOnCardTitle p {
      font-weight: 700;
    }
  }
}

.camp-map {
  height: auto;
  width: auto;
  .campMap {
    display: block;
    margin: auto;
    max-height: 80vh;
  }
}

.ticket-checkout-body {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr 1fr));
  grid-gap: 0.8rem;
  margin-top: 1.8rem;

  p {
    font-style: italic;
  }

  span {
    float: right;
  }
  .total {
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.formBase {
  .closeFormBtn {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 2rem;
    z-index: 1000;
  }
}
.creditCardForm {
 
  .payment {
    form:first-child {
      div:nth-child(-n + 3) {
        display: flex;
        flex-direction: column;
      }
      div:nth-child(4) {
        display: flex;
        flex-direction: column;
        max-width: 8rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 90%;
  }

  .formBase {
    .closeFormBtn {
      position: absolute;
      top: 100px;
      right: 20px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: white;
      font-size: 2rem;
      z-index: 1000;
    }
  }
}
// transform:scale(0.8)
